.country-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-container{
  display: flex;
  margin: 5px;
  justify-content: center;
}
.card{
  margin: 5px;
}
.spinner-div{
  display: flex;
  justify-content: center;
}