<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">
  <!-- <mat-card *ngFor="let country of countryList"> {{country.countryName}}
    <mat-card-title>{{country.countryName}}country name</mat-card-title>
  </mat-card>
  <mat-card>Simple card</mat-card>
  {{country.countryName}}
  sdfgsdf -->
  <app-countries></app-countries>
  <!-- <app-sao-paulo></app-sao-paulo>
  <app-santiago></app-santiago>
  <app-lima></app-lima>
  <app-buenos-aires></app-buenos-aires> -->
</div>

<router-outlet></router-outlet>
